<nav class="navbar navbar-light bg-light justify-content-between admin-right-header">
  <span class="navbar-text">
    Navbar text with an inline element
  </span>
  <div class="btn-group">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_admin.realname %>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">修改密码</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="<%= admin_sign_out_path %>" data-method="delete">退出</a>
    </div>
  </div>
</nav>
